@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    scroll-behavior: smooth;
}

#logo-tester {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
}
header h1 {
    font-size: 40px;
    color: white;
}
header nav {
    display: flex;
    gap: 30px;
}
header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: white;
}
header nav a.active {
    background: #5247B9;
}
header nav a:hover {
    background: #5247B9;
}
header nav:hover > a:not(:hover) {
    background: none;
}


.home {
    display: flex;
    height: 100vh; /* Исправлено с 100dvh на 100vh */
    background: linear-gradient(to top, #D2E2FB 30%, #86A8DB);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.about h1, .services h1, .experience h2, .skills h2, .contact h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

.about, .services, .experience, .skills, .contact {
    padding: 50px;
    background: #3B3291;
    color: white;
    position: relative;
    z-index: 100;
}

.services ul, .skills ul, .contact ul {
    list-style: none;
    padding: 0;
}

.services li::before, .skills li::before, .contact li::before {
    content: '✓';
    margin-right: 8px;
    color: #76B947;
}
.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.skills li::before {
    content: '•';
    color: #76B947;
    position: absolute;
    left: 0;
}
#backToTopButton {
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 1000;
}

